main{
  padding: 3% 0;
  text-align: center;
  cursor: default;
}
.box{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.boxes{
  text-align: left;
  background-color: rgb(239, 155, 169);
  padding: 12px 15px;
  margin: 2% 1%;
  border-radius: 10px;

}
.boxes i{
  border-radius: 50%;
  background-color: #fc6c85;
  padding: 10px;
  font-size: 18px;
  color: white;
}
.boxes h1{
  text-align: center;
}
.box div:nth-child(3) {
  background-color: #fc6c85;

}
.box div:nth-child(1) {
  background-color: #fc6c85;

}
.box div:nth-child(3) i{
  background-color: blueviolet;

}


.box div:nth-child(3) p{
  color: white;
}

.port{
  margin-left: 390px;
}
.port button {
  /* display: flex;
  justify-content: center;
  text-align: center; */
  margin-left: 80px;
  width: 300px;
  padding: 20px;
  background-color: #96d0ed;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.port button:hover{
  background-color: rgb(1, 18, 117);
}